.log-item{
    width: 100%;
    img{
        max-height: 13px;
    }

    a{
        img{
            max-height: 18px;
            margin-top: 5px;
        }
    }

    .time{
        margin-right: 5px;
    }

    display: flex;
    align-items: center;
}